/* font-family: "Bungee Hairline", cursive; */

/* font-family: "Major Mono Display", monospace; */
/* font-family: "Saira Extra Condensed", sans-serif; */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080710;
  font-family: "Bungee Hairline", cursive;
}
